<div class="container">
      <div class="well col-xs-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Book Name</th>
              <th>Author</th>
              <th>Summary</th>
              <th>Cover Picture</th>
              <th style="width: 36px;"></th>
            </tr>
          </thead>
          <tbody>

            {{#each content as |book|}}
            <tr {{action 'openModal'}} id="{{book.id}}">
              <td>{{book.id}}</td>
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.summary}}</td>
              <td><img src="{{book.image}}" style="width:70px;height:80px;" /></td>
              <td><button {{action 'openModal'}} id="{{book.id}}"  class="btn btn-info">To reserve</button></td>
              {{#link-to "reserve.show" book}}{{book.id}}{{/link-to}}
            </tr>
            {{/each}}
          </tbody>
      </table>
    </div>

</div>

{{#if isShowingModal}}
  {{#modal-dialog translucentOverlay=true close='closeModalDialog' }}
  {{modalMessage}}

    {{reserve-modal index}}


    {{#if session.isAuthenticated}}
      <center><button {{action 'closeModal' }} id="{{book.id}}" class="col-md-12 col-xs-12  btn btn-info">Now To reserve</button></center>
      {{else}}
        {{#link-to 'login'}}<center><button id="{{book.id}}" class="col-md-12 col-xs-12 btn btn-info">To reserve</button></center>{{/link-to}}
    {{/if}}
{{/modal-dialog}}
{{/if}}
