
<div class="container">
  <div class="well"><center><h2 class="sub-header">All Books</h2></center></div>
    <div class="col-xs-2"></div>
      <div class="well col-xs-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Book Name</th>
              <th>Author</th>
              <th>Summary</th>
              <th>Cover Picture</th>
              <th style="width: 36px;"></th>
            </tr>
          </thead>
          <tbody>
            {{#each content as |book|}}
            <tr>
              <td>{{book.id}}</td>
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.summary}}</td>
              <td><img src="{{book.image}}" style="width:70px;height:80px;" /></td>
              <td><button {{action 'openModal' '1' }} id="{{book.id}}"  class="btn btn-info">To reserve</button></td>
            </tr>
            {{/each}}
          </tbody>
      </table>
</div>
<div class="col-xs-1 col-md-offset-6" ></div>
  <ul class="pagination">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
  </ul>
</div>

{{#if isShowingModal}}
  {{#modal-dialog translucentOverlay=true close='closeModalDialog' }}
  {{modalMessage }}

    {{reserve-modal }}

    {{#if session.isAuthenticated}}
      <center><button {{action 'closeModal' }} id="{{book.id}}" class="col-md-12 col-xs-12  btn btn-info">Now To reserve</button></center>
      {{else}}
        {{#link-to 'login'}}<center><button id="{{book.id}}" class="col-md-12 col-xs-12 btn btn-info">To reserve</button></center>{{/link-to}}
    {{/if}}
{{/modal-dialog}}
{{/if}}
