{{#if session.isAuthenticated}}
    {{dashboard-navbar}}
        {{left-navbar}}

    <div class="dashboard-body">
          {{outlet}}
    </div>
{{else}}
    {{mainpage-navbar}}

    <div class="body">
      {{outlet}}
      {{page-footer}}
    </div>
{{/if}}
